#assistant {
    display: none;
    opacity: 0;
    width: 70px;
    height: 70px;
    position: fixed;
    right: 30px;
    bottom: 40px;
    z-index: 10;
    cursor: pointer;
    border-radius: 50%;
    animation: assistant_animation infinite 5s;
    transition: ease all;
}

#assistant img {
    object-fit: contain;
}   

@keyframes assistant_animation {
    0% {
        bottom: 40px;
        box-shadow: 0 0 4px 0 #00A811;
    }
    35% {
        bottom: 40px;
        box-shadow: 0 0 4px 0 #00A811;
    }
    50% {
        bottom: 60px;
        box-shadow: 0 0 17px 0 #00A811;
    }
    65% {
        bottom: 40px;
        box-shadow: 0 0 4px 0 #00A811;
    }
    100% {
        bottom: 40px;
        box-shadow: 0 0 4px 0 #00A811;
    }
}

.assistant_chat {
    width: 405px;
    height: 535px;
    position: fixed;
    bottom: 0;
    right: 130px;
    z-index: 10;

    background-color: #FFFBFB;
    border: 1px solid rgba(23, 72, 0, 0.5);
    border-radius: 5px 50px 5px 5px;
    overflow: hidden;
}

.assistant_chat .top_panel {
    background-image: url('../images/chat_bg.png');
    position: relative;
    top: 0;
}

.assistant_chat .chat_field {
    height: 336px;
}

.whistBot {
    display: none;    
}

.botTyping {
    display: unset;
}