#assistant {
    display: none;
    opacity: 0;
    width: 70px;
    height: 70px;
    position: fixed;
    right: 30px;
    bottom: -40px;
    z-index: 15;
    box-shadow: 0 0 4px 0 #00A811;
    /* cursor: pointer; */
    border-radius: 50%;
    transition: ease all;
}

#assistant img {
    object-fit: contain;
}   

@keyframes assistant_animation {
    0% {
        bottom: 40px;
        box-shadow: 0 0 4px 0 #00A811;
    }
    35% {
        bottom: 40px;
        box-shadow: 0 0 4px 0 #00A811;
    }
    50% {
        bottom: 60px;
        box-shadow: 0 0 12px 0 #0d7c18;
    }
    65% {
        bottom: 40px;
        box-shadow: 0 0 4px 0 #00A811;
    }
    100% {
        bottom: 40px;
        box-shadow: 0 0 4px 0 #00A811;
    }
}

.assistant_chat {
    width: 405px;
    position: fixed;
    bottom: 70px;
    right: 70px;
    z-index: 10;
    display: none;
    opacity: 0;
    /* opacity: 1; */

    background-color: #FFFBFB;
    border: 1px solid rgba(23, 72, 0, 0.5);
    border-radius: 5px 50px 5px 5px;
    overflow: hidden;
}

.assistant_chat .top_panel {
    width: 100%;
    height: 95px;
    background-image: url('../images/chat_bg.png');
    background-repeat: no-repeat;
    background-size: cover;
}
.top_panel div {
    padding-top: 27px;
    padding-left: 16px;
}

.top_panel div p {
    margin: 0;
    width: 100%;
    font-family: 'Manjari', sans-serif;
    font-weight: 100;
    font-size: 20px;
    color: #FFFFFF;
}
.top_panel div .status {
    font-weight: 500;
    color: #60FF52;
}

.assistant_chat .chat_field {
    height: 336px;
    padding: 15px 10px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    /* justify-content: flex-end; */
    overflow-y: auto;
    word-break: break-all;
}
.chat_field .user_message {
    background-color: #42d461;
    color: #fff;
}
.chat_field .user_message,
.chat_field .bot_message {
    border: 0.5px solid #848484af;
    border-radius: 3px;
    padding: 7px 8px;
    padding-top: 8px;
    margin: 7px;
    word-break: break-all;
    max-width: 80%;

    font-family: 'Manjari';
    font-weight: 400;
    font-size: 20px;
    line-height: 20px;
}

.chat_field .bot_message {
    background-color: #d1d1d136;
    align-self: flex-start;
}

.bottom_panel {
    width: 100%;
    height: 85px;
    border-top: 0.4px solid #AFAFAF;
    display: flex;
    align-items: center;
}
.bottom_panel .input_field {
    width: 75%;
    margin-left: 12px;
}
.bottom_panel .input_field input {
    width: 96%;
    height: 55px;
    padding: 0 0 0 10px;
    margin: 0;
    outline: none;
    border: 1px solid #848484;
    border-radius: 5px;
    font-size: 22px;
    font-family: 'Manjari', sans-serif;
}
.bottom_panel .input_field input::placeholder {
    font-weight: 400;
    font-size: 20px;
    color: #A29C9C;
}
.bottom_panel .send {
    width: 25%;
    display: flex;
    align-items: start;
    justify-content: center;
}
.bottom_panel .send {
    cursor: pointer;
}
#botStatus {
    height: 20px;
    position: absolute;
    bottom: 95px;
    left: 10px;
}
.whistBot {
    display: none;    
}
.botTyping {
    display: unset;
}

/* Loader */
.lds-ellipsis {
    display: inline-block;
    position: relative;
    width: 80px;
    height: 20px;
}

.lds-ellipsis div {
    position: absolute;
    top: 11px;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background: rgba(109, 109, 109, 0.473);
    animation-timing-function: cubic-bezier(0, 1, 1, 0);
}

.lds-ellipsis div:nth-child(1) {
    left: 8px;
    animation: lds-ellipsis1 0.6s infinite;
}

.lds-ellipsis div:nth-child(2) {
    left: 8px;
    animation: lds-ellipsis2 0.6s infinite;
}

.lds-ellipsis div:nth-child(3) {
    left: 25px;
    animation: lds-ellipsis2 0.6s infinite;
}

.lds-ellipsis div:nth-child(4) {
    left: 44px;
    animation: lds-ellipsis3 0.6s infinite;
}

@keyframes lds-ellipsis1 {
    0% {
        transform: scale(0);
    }

    100% {
        transform: scale(1);
    }
}

@keyframes lds-ellipsis3 {
    0% {
        transform: scale(1);
    }

    100% {
        transform: scale(0);
    }
}

@keyframes lds-ellipsis2 {
    0% {
        transform: translate(0, 0);
    }

    100% {
        transform: translate(17px, 0);
    }
}