@media (max-width:1800px) {
    .logo {
        margin-left: 26vw;
    }
    .links {
        margin-left: 22vw;
    }
    .home_img {
        width: 45.5vw;
        height: 453px;
        object-fit: cover;
        position: absolute;
        right: 7vw;
        top: 22vh;
    }
    .topic_container {
        width: 100%;
    }
    .top_row, .bottom_row {
        justify-content: space-between;
    }
    .blocks_topic .top_row div, .blocks_topic .bottom_row div {
        width: 24.1%;
    }
}
@media (max-width:1700px) {
    .logo {
        margin-left: 26.5vw;
    }
    .links {
        margin-left: 20.5vw;
    }
    .consultation_front {
        justify-content: space-evenly;
    }
}
@media (max-width:1600px) {
    .logo {
        margin-left: 27vw;
    }
    .links {
        margin-left: 18vw;
    }
}
@media (max-width:1500px) {
    .logo {
        margin-left: 28vw;
    }
    .links {
        margin-left: 16vw;
    }
}
@media (max-width:1400px) {
}
@media (max-width:1300px) {
}
@media (max-width:1200px) {
    .footer_left p {
        width: 250px;
        margin-right: 100px;
    }
    .footer_top {
        justify-content: space-between;
    }
    .footer_right {
        width: 75%;
        justify-content: space-between;
    }
    .menu,
    .contacts,
    .place {
        margin-right: 0px;
    }
}
@media (max-width:1100px) {
    .footer_left p {
        margin-right: 0px;
    }
}
@media (max-width:1000px) {
}
@media (max-width:900px) {
}
@media (max-width:800px) {
}
@media (max-width:700px) {
}
@media (max-width:600px) {
}
@media (max-width:500px) {
}
@media (max-width:400px) {
}
@media (max-width:300px) {
}
@media (max-width:200px) {
}