@media (max-width:1800px) {
    .logo {
        margin-left: 26vw;
    }
    .links {
        margin-left: 22vw;
    }
    .home_img {
        width: 45.5vw;
        height: 453px;
        object-fit: cover;
        position: absolute;
        right: 7vw;
        top: 22vh;
    }
    .topic_container {
        width: 100%;
    }
    .top_row, .bottom_row {
        justify-content: space-between;
    }
    .blocks_topic .top_row div, .blocks_topic .bottom_row div {
        width: 24.1%;
    }
}
@media (max-width:1700px) {
    .logo {
        margin-left: 26.5vw;
    }
    .links {
        margin-left: 20.5vw;
    }
    .consultation_front {
        justify-content: space-evenly;
    }
}
@media (max-width:1600px) {
    .logo {
        margin-left: 27vw;
    }
    .links {
        margin-left: 18vw;
    }
    .consultation_front .left_side form, .left_side p {
        width: 75%;
    }
    .consultation_front .right_side img {
        width: 90%;
    }
}
@media (max-width:1500px) {
    .logo {
        margin-left: 28vw;
    }
    .links {
        margin-left: 16vw;
    }
    .consultation_front .left_side form, .left_side p {
        width: 80%;
    }
    .consultation_front .right_side img {
        width: 95%;
    }
   
    .h2_black_line_up{
        width: 400px;
    }
    .h2_black_line_down{
        width: 400px;
    }
    .consultation_front h2 {
        font-size: 40px;
    }
    .topic_solution {
        width: 85%;
    }
}
@media (max-width:1400px) {
    .consultation_front .left_side form, .left_side p {
        width: 85%;
    }
    .consultation_front .right_side img {
        width: 100%;
    }
}
@media (max-width:1300px) {
    .h2_black_line_up{
        width: 350px;
    }
    .h2_black_line_down{
        width: 350px;
    }
    .topic .topic_container {
        width: 95%;
    }
    .blocks_topic {
        width: 90%;
        margin: 0 auto;
        margin-top: 35px;
    }
    .blocks_topic .top_row, .blocks_topic .bottom_row {
        width: 100%;
    }
    .blocks_topic div p {
        font-size: 24px;
    }
}
@media (max-width:1250px) {
    .line_footer {
        margin-top: 65px;
    }
}
@media (max-width:1200px) {
    .consultation_front .left_side {
        width: 60%;
    }
    .questions_list {
        width: 70%;
    }
    .footer_left p {
        width: 250px;
        margin-right: 100px;
    }
    .footer_top {
        justify-content: space-between;
    }
    .footer_right {
        width: 75%;
        justify-content: space-between;
    }
    .menu,
    .contacts,
    .place {
        margin-right: 0px;
    }
}
@media (max-width:1100px) {
    .consultation_front .left_side {
        width: 95%;
        z-index: 10;
    }
    .consultation_front .right_side {
        width: 100%;
        position: absolute;
        top: 92px;
        filter: blur(3px);
        z-index: 5;
    }
    .line_form {
        display: none;
    }
    .questions_list {
        width: 80%;
    }
    .footer_left p {
        margin-right: 0px;
    }
    .footer_right .menu {
        display: none;
    }
    .footer_right .contacts {
        width: 50%;
        margin-right: 40px;
    }
    .footer_right div p {
        text-align: right;
    }
    .footer_right div ul li {
        text-align: right;
        margin-left: 0px;
        margin-right: 15px;
    }
}
@media (max-width:1050px){
    .blocks_topic .top_row,
    .blocks_topic .bottom_row {
        flex-wrap: wrap;
        justify-content: center;
        margin-bottom: 0;
    }
    .blocks_topic .top_row div:nth-child(3),
    .blocks_topic .top_row div:nth-child(4) {
        transform: skewX(-30deg);
        box-shadow: -1px 1px 5px 2px rgb(0 0 0 / 25%);
    }
    .blocks_topic div:nth-child(3) p,
    .blocks_topic div:nth-child(4) p {
        transform: skewX(30deg);
    }
    .blocks_topic .bottom_row div:nth-child(1),
    .blocks_topic .bottom_row div:nth-child(2) {
        transform: skewX(30deg);
        box-shadow: -1px 1px 5px 2px rgb(0 0 0 / 25%);
    }
    .blocks_topic .bottom_row div:nth-child(1) p,
    .blocks_topic .bottom_row div:nth-child(2) p {
        transform: skewX(-30deg);
    }
    .blocks_topic .bottom_row div:nth-child(3),
    .blocks_topic .bottom_row div:nth-child(4) {
        box-shadow: -1px 1px 5px 2px rgb(0 0 0 / 25%);
    }
    .blocks_topic .top_row div,
    .blocks_topic .bottom_row div {
        width: 45%;
    }
    /* width: calc(45% + 50px); */
}
@media (max-width:1014px){
    .topic h1 {
        width: 90%;
    }
    .topic h1::before,
    .topic h1::after {
        width: 100px;
        flex: 1;
    }
    .topic h1::before {
        margin: 0 10px;
        margin-right: 35px;
    }
    .topic h1::after {
        margin: 0 10px;
        margin-left: 35px;
    }
}
@media (max-width:1000px){
    form .send span::before,
    form .send span::after {
        content: "";
        display: block;
        width: 25%;
        height: 2px;
        margin: 0 21px;
        background-color: #000;
    }
}
@media (max-width:950px) {
}
@media (max-width:900px) {
    .topic h1 {
        width: 100%;
    }
    .consultation_front .right_side {
        top: 15vh;
        height: 60vh;
    }
    .consultation_front .right_side img {
        width: 90%;
        object-fit: cover;
    }
    .consultation_front .left_side p {
        background-color: rgba(255, 255, 255, 0.8);
        padding: 15px;
    }
    .question .arrow_container {
        width: 10%;
    }
    .question .question_text {
        width: 90%;
    }
}
@media (max-width:800px) {
}
@media (max-width:770px) {
    .footer_right .place {
        display: none;
    }
    .footer_right .contacts {
        width: 100%;
        margin-right: 0;
        margin-top: 50px;
    }
}
@media (max-width:700px) {
    .topic h1 {
        width: 50%;
    }
    .topic h1::before,
    .topic h1::after {
        width: 40%;
        flex: none;
    }
    .topic h1::before {
        margin-right: 15px;
    }
    .topic h1::after {
        margin-left: 15px;
    }
    .consultation_front .left_side {
        width: 95%;
    }
    .consultation_front .left_side form {
        width: 95%;
    }
    form .send span::before,
    form .send span::after {
        width: 24%;
    }
    .question .arrow_container {
        width: 15%;
    }
    .question .question_text {
        width: 85%;
    }
}
@media (max-width:600px) {
    .consultation_front h2 {
        width: 90%;
        text-align: center;
    }
    .h2_black_line_up{
        width: 320px;
        margin-left: 10px;
    }
    .h2_black_line_down{
        width: 320px;
        margin-right: 10px;
    }
    .consultation_front .left_side {
        width: 95%;
    }
    .faq .top_panel {
        height: max-content;
        padding-bottom: 26px;
    }
}
@media (max-width:550px) {
    .footer_right .contacts {
        display: none;
    }
    #footer {
        padding: 0 0 0 0;
    }
    .footer_right {
        display: none;
    }
    .footer_left {
        width: 100%;
        padding: 20px;
    }
    .footer_left p {
        width: 100%;
        text-align: justify;
    }
    .line_footer, .footer_bottom {
        margin: 0 20px;
    }
    .blocks_topic div p {
        font-size: 22px;
    }
}
@media (max-width:500px) {
    form .send span::before,
    form .send span::after {
        width: 15%;
        margin-left: 10px;
        margin-right: 10px;
    }
    .consultation_front .right_side {
        display: none;
    }
    .consultation_front .left_side p {
        background-color: transparent;
        padding: 0;
    }
    .question .arrow_container {
        width: 20%;
    }
    .question .question_text {
        width: 80%;
    }
    .blocks_topic div p {
        font-size: 18px;
    }
    .blocks_topic .top_row div,
    .blocks_topic .bottom_row div {
        height: 80px;
    }
}
@media (max-width:400px) {
    .top_panel .search_bar input {
        width: 75%;
        height: 60px;
        padding-left: 28px;
    }
    .topic h1 {
        width: 28%;
    }
    .topic h1::before {
        margin-right: 7px;
    }
    .topic h1::after {
        margin-left: 7px;
    }
    .topic h1::before,
    .topic h1::after {
        width: 45%;
        flex: none;
    }
    .blocks_topic div p {
        font-size: 16px;
    }
    .blocks_topic .top_row div,
    .blocks_topic .bottom_row div {
        height: 75px;
    }
}
@media (max-width:340px) {
    .footer_left {
        padding: 10px;
    }
    .footer_left div {
        width: 100%;
    }
    .line_footer, .footer_bottom {
        margin: 0 10px;
    }
    .footer_bottom p {
        margin-right: 15px;
    }
    .blocks_topic div p {
        font-size: 14px;
    }
}
@media (max-width:300px) {
}
@media (max-width:200px) {
}