@media (max-width:1800px) {
    .img_div_home {
        right: 7%;
    }
    .logo {
        margin-left: 26vw;
    }
    .links {
        margin-left: 22vw;
    }
    .home_img {
        width: 45.5vw;
        height: 453px;
        object-fit: cover;
        position: absolute;
        right: 7vw;
        top: 22vh;
    }
    .topic_container {
        width: 100%;
    }
    .top_row, .bottom_row {
        justify-content: space-between;
    }
    .blocks_topic .top_row div, .blocks_topic .bottom_row div {
        width: 24.1%;
    }
}
@media (max-width:1700px) {
    .img_div_home {
        right: 5%;
    }
    .logo {
        margin-left: 26.5vw;
    }
    .links {
        margin-left: 20.5vw;
    }
    .consultation_front {
        justify-content: space-evenly;
    }
}
@media (max-width:1600px) {
    .logo {
        margin-left: 27vw;
    }
    .links {
        margin-left: 16vw;
    }
    .consultation_front .left_side form, .left_side p {
        width: 75%;
    }
    .consultation_front .right_side img {
        width: 90%;
    }
    .img_div_home {
        right: 3%;
    }
}
@media (max-width:1500px) {
    .logo {
        margin-left: 28vw;
    }
    .links {
        margin-left: 16vw;
    }
    .consultation_front .left_side form, .left_side p {
        width: 80%;
    }
    .consultation_front .right_side img {
        width: 95%;
    }
   
    .h2_black_line_up{
        width: 400px;
    }
    .h2_black_line_down{
        width: 400px;
    }
    .consultation_front h2 {
        font-size: 40px;
    }
    .topic_solution {
        width: 85%;
    }
    .img_div_home {
        right: 0%;
    }
}
@media (max-width:1400px) {
    .img_div_home {
        width: 550px;
        height: 40%;
        right: 5%;
    }
    .bta_main .advantages {
        width: 95%;
    }
    .bta_main div div {
        margin: auto 20px;
        margin-top: 20px;
    }
    .consultation_front .left_side form, .left_side p {
        width: 85%;
    }
    .consultation_front .right_side img {
        width: 100%;
    }

}
@media (max-width:1300px) {
    .logo {
        margin-left: 29.5vw;
    }
    .img_div_home {
        right: 1.5%;
    }
    .h2_black_line_up{
        width: 350px;
    }
    .h2_black_line_down{
        width: 350px;
    }
    .topic .topic_container {
        width: 95%;
    }
    .blocks_topic {
        width: 90%;
        margin: 0 auto;
        margin-top: 35px;
    }
    .blocks_topic .top_row, .blocks_topic .bottom_row {
        width: 100%;
    }
    .blocks_topic div p {
        font-size: 24px;
    }
}
@media (max-width:1250px) {
    .line_footer {
        margin-top: 65px;
    }
}
@media (max-width:1200px) {
    .logo {
        margin-left: 28vw;
        margin-right: -30px;
    }
    .light_green {
        background-color: #f7ffeeef;
    }
    .img_div_home {
        width: 100%;
        height: 80%;
        margin-top: 60px;
        z-index: 0;
        opacity: 40%;
        filter: blur(2px);
    }
    .consultation_front .left_side {
        width: 60%;
    }
    .questions_list {
        width: 70%;
    }
    .footer_left p {
        width: 250px;
        margin-right: 100px;
    }
    .footer_top {
        justify-content: space-between;
    }
    .footer_right {
        width: 75%;
        justify-content: space-between;
    }
    .menu,
    .contacts,
    .place {
        margin-right: 0px;
    }
}
@media (max-width:1100px) {
    .consultation_front .left_side {
        width: 95%;
        z-index: 10;
    }
    .radiobox label {
        color: white;
        font-weight: 700;
        text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5),
            0px 1px 1px rgba(0, 0, 0, 0.5),
            -1px 1px 1px rgba(0, 0, 0, 0.5),
            -1px 0px 1px rgba(0, 0, 0, 0.5),
            -1px -1px 1px rgba(0, 0, 0, 0.5),
            0px -1px 1px rgba(0, 0, 0, 0.5),
            1px -1px 1px rgba(0, 0, 0, 0.5),
            1px 0px 1px rgba(0, 0, 0, 0.5);
    }
    .consultation_front .right_side {
        width: 100%;
        position: absolute;
        top: 92px;
        filter: blur(3px);
        z-index: 5;
    }
    .line_form {
        display: none;
    }
    .questions_list {
        width: 80%;
    }
    .footer_left p {
        margin-right: 0px;
    }
    .footer_right .menu {
        display: none;
    }
    .footer_right .contacts {
        width: 50%;
        margin-right: 40px;
    }
    .footer_right div p {
        text-align: right;
    }
    .footer_right div ul li {
        text-align: right;
        margin-left: 0px;
        margin-right: 15px;
    }
}
@media (max-width:1050px){
    .blocks_topic .top_row,
    .blocks_topic .bottom_row {
        flex-wrap: wrap;
        justify-content: center;
        margin-bottom: 0;
    }
    .blocks_topic .top_row div:nth-child(3),
    .blocks_topic .top_row div:nth-child(4) {
        transform: skewX(-30deg);
        box-shadow: -1px 1px 5px 2px rgb(0 0 0 / 25%);
    }
    .blocks_topic div:nth-child(3) p,
    .blocks_topic div:nth-child(4) p {
        transform: skewX(30deg);
    }
    .blocks_topic .bottom_row div:nth-child(1),
    .blocks_topic .bottom_row div:nth-child(2) {
        transform: skewX(30deg);
        box-shadow: -1px 1px 5px 2px rgb(0 0 0 / 25%);
    }
    .blocks_topic .bottom_row div:nth-child(1) p,
    .blocks_topic .bottom_row div:nth-child(2) p {
        transform: skewX(-30deg);
    }
    .blocks_topic .bottom_row div:nth-child(3),
    .blocks_topic .bottom_row div:nth-child(4) {
        box-shadow: -1px 1px 5px 2px rgb(0 0 0 / 25%);
    }
    .blocks_topic .top_row div,
    .blocks_topic .bottom_row div {
        width: 45%;
        overflow: hidden;
    }
}
@media (max-width:1014px){
    .topic h1 {
        width: 90%;
    }
    .topic h1::before,
    .topic h1::after {
        width: 100px;
        flex: 1;
    }
    .topic h1::before {
        margin: 0 10px;
        margin-right: 35px;
    }
    .topic h1::after {
        margin: 0 10px;
        margin-left: 35px;
    }
}
@media (max-width:1000px){
    .bta_main h1{
        width: 86%;
        font-size: 36px;
    }
    .bta_main h1 span {
        font-size: 42px;
    }
    .logo {
        margin-left: 33.5vw;
    }
    .topic h1 {
        font-size: 42px;
    }
    form .send span::before,
    form .send span::after {
        content: "";
        display: block;
        width: 25%;
        height: 2px;
        margin: 0 21px;
        background-color: #000;
    }
    .question .question_text p{
        font-size: 20px;
    }
    .question .question_answer p, .question .question_answer p b{
        font-size: 18px;
    }
    .footer_left p {
        font-size: 18px;
    }
}
@media (max-width:950px) {
}
@media (max-width:900px) {
    .logo {
        margin-left: 35.5vw;
    }
    .bta_main .advantages {
        width: 100%;
    }

    .topic h1 {
        width: 100%;
    }
    .consultation_front .right_side {
        top: 15vh;
        height: 60vh;
    }
    .consultation_front .right_side img {
        width: 90%;
        object-fit: cover;
    }
    .consultation_front .left_side p {
        background-color: rgba(255, 255, 255, 0.8);
        padding: 15px;
    }
    .question .arrow_container {
        width: 10%;
    }
    .question .question_text {
        width: 90%;
    }
}
@media (max-width:800px) {
    .logo {
        margin-left: 38.5vw;
    }
    .bta_main div div {
        width: 60%;
        margin: auto 30px;
        margin-top: 20px;
    }
    
}
@media (max-width:770px) {
    .footer_right .place {
        display: none;
    }
    .footer_right .contacts {
        width: 100%;
        margin-right: 0;
        margin-top: 50px;
    }
}
@media (max-width:700px) {
    .bta_main h1{
        width: 86%;
        font-size: 36px;
    }
    .bta_main h1 span {
        font-size: 42px;
    }
    .topic_container h1 {
        font-size: 38px;
        width: 90%;
    }
    .topic h1::before {
        margin-right: 15px;
    }
    .topic h1::after {
        margin-left: 15px;
    }
    .consultation_front .left_side {
        width: 95%;
    }
    .consultation_front .left_side form {
        width: 95%;
    }
    form .send span::before,
    form .send span::after {
        width: 24%;
    }
    .question .arrow_container {
        width: 15%;
    }
    .question .question_text {
        width: 85%;
    }
}
@media (max-width:600px) {
    .menubox{
        width: 283px;text-align: center;
    }
    .logo {
        margin-left: 5.5vw;
    }
    .light_green {
        font-size: 12px;
        line-height: 60px;
        width: 300px;
        text-shadow: 1px 1px 1px rgb(146, 146, 146);
        left: 11vw;
        background-color: #f7ffeeef;
    }
    .img_div_home {
        height: 60%;
    }
    .bta_main h1{
        font-size: 30px;
        margin-bottom: 0;
        margin-top: 80px;
    }
    .bta_main h1 span {
        font-size: 36px;
    }
    .topic_container h1 {
        font-size: 34px;
        margin-bottom: 0;
    }
    .consultation_front h2 {
        width: 90%;
        text-align: center;
        font-size: 34px;
    }
    .consultation_front h2:before {
        margin-top: 0;
    }
    .h2_black_line_up{
        width: 320px;
        margin-left: 10px;
    }
    .h2_black_line_down{
        width: 320px;
        margin-right: 10px;
    }
    .consultation_front .left_side {
        width: 95%;
    }
    .faq .top_panel {
        height: max-content;
        padding-bottom: 26px;
    }
    .faq .top_panel h2 {
        font-size: 30px;
    }
    .top_panel .search_bar input {
        height: 45px;
    }
}
@media (max-width:550px) {
    .bta_button {
        width: 80%;
    }
    .bta_button p {
        font-size: 24px;
    }
    .radio {
        flex-direction: column;
        align-items: flex-start;
        width: 100%;
    }
    .radiobox {
        margin-left: 20px;
    }
    .footer_right .contacts {
        display: none;
    }
    #footer {
        padding: 0 0 0 0;
    }
    .footer_right {
        display: none;
    }
    .footer_left {
        width: 100%;
        padding: 20px;
    }
    .footer_left p {
        width: 100%;
        text-align: justify;
    }
    .line_footer, .footer_bottom {
        margin: 0 20px;
    }
    .blocks_topic div p {
        font-size: 22px;
    }
    .assistant_chat {
        width: 75%;
        right: 50px;
        bottom: 50px;
    }
    #assistant {
        bottom: 20px !important
    }
    #assistant, #assistant img {
        width: 55px;
        height: 55px;
        right: 20px;
    }

}
@media (max-width:500px) {
    .light_green {
        left: 6vw;
    }
    form .send span::before,
    form .send span::after {
        width: 15%;
        margin-left: 10px;
        margin-right: 10px;
    }
    .radiobox label {
        color: black;
        text-shadow: unset;
    }
    .consultation_front .right_side {
        display: none;
    }
    .consultation_front .left_side p {
        background-color: transparent;
        padding: 0;
    }
    .question .arrow_container {
        width: 20%;
    }
    .question .question_text {
        width: 80%;
    }
    /* .blocks_topic div p {
        font-size: 20px;
    } */
    .blocks_topic .top_row div,
    .blocks_topic .bottom_row div {
        height: 80px;
    }
    .blocks_topic .top_row div,
    .blocks_topic .bottom_row div {
        width: 85%;
        margin-bottom: 5px;
        margin-top: 5px;
    }

    .blocks_topic .top_row div:nth-child(1),
    .blocks_topic .top_row div:nth-child(3),
    .blocks_topic .bottom_row div:nth-child(1),
    .blocks_topic .bottom_row div:nth-child(3) {
        transform: skewX(-30deg);
        box-shadow: -1px 1px 5px 2px rgb(0 0 0 / 25%);
    }
    .blocks_topic .top_row div:nth-child(1) p,
    .blocks_topic .top_row div:nth-child(3) p,
    .blocks_topic .bottom_row div:nth-child(1) p,
    .blocks_topic .bottom_row div:nth-child(3) p {
        transform: skewX(30deg);
    }

    .blocks_topic .top_row div:nth-child(2),
    .blocks_topic .top_row div:nth-child(4),
    .blocks_topic .bottom_row div:nth-child(2),
    .blocks_topic .bottom_row div:nth-child(4) {
        transform: skewX(30deg);
        box-shadow: -1px 1px 5px 2px rgb(0 0 0 / 25%);
    }
    .blocks_topic .top_row div:nth-child(2) p,
    .blocks_topic .top_row div:nth-child(4) p,
    .blocks_topic .bottom_row div:nth-child(2) p,
    .blocks_topic .bottom_row div:nth-child(4) p {
        transform: skewX(-30deg);
    }
    .blocks_topic .top_row div:hover,
    .blocks_topic .bottom_row div:hover {
        filter: brightness(0.9) saturate(200%);
        width: 72.5%;
        margin: 13px auto;
        height: calc(80px - 16px);
    }
}
@media (max-width:450px) {
    .light_green {
        left: 2vw;
    }
    .menubox {
        width: 100%;
    }
}
@media (max-width:400px) {
    .light_green {
        left: 0vw;
        background-color: #f7ffeee0;
    }
    .menu-btn {
        right: 20px;
    }
    .bta_button p {
        font-size: 20px;
        margin: auto 10px;
        text-align: center;
    }
    .top_panel .search_bar input {
        width: 75%;
        padding-left: 28px;
    }
    .topic h1 {
        width: 28%;
    }
    .topic h1::before {
        margin-right: 7px;
    }
    .topic h1::after {
        margin-left: 7px;
    }
    .topic h1::before,
    .topic h1::after {
        width: 45%;
        flex: none;
    }
    /* .blocks_topic div p {
        font-size: 16px;
    } */
    .blocks_topic .top_row div,
    .blocks_topic .bottom_row div {
        height: 75px;
        width: 80%;
    }
    .blocks_topic .top_row div:hover,
    .blocks_topic .bottom_row div:hover {
        height: calc(75px - 16px);
    }
    .assistant_chat {
        width: 100%;
        height: min-content;
        position: fixed;
        top: 0;
        right: 0;
        bottom: 100px;
    }
    .assistant_chat .chat_field {
        height: 50vh;
    }
}
@media (max-width:340px) {
    .logo_name {
        display: none;
    }
    .footer_left {
        padding: 10px;
    }
    .footer_left div {
        width: 100%;
    }
    .line_footer, .footer_bottom {
        margin: 0 10px;
    }
    .footer_bottom p {
        margin-right: 15px;
    }
    /* .blocks_topic div p {
        font-size: 14px;
    } */
}
@media (max-width:300px) {
}
@media (max-width:200px) {
}